__pycache__
reportlab
/BookPackages/spells_crb.pkl
/BookPackages/CRB.py

screens/SkillsOld.kv
SFRPGCharacterBuilder-0.1-debug-unaligned.apk
save/Soldier.char
*.profile
*.pyc
buildozer.spec
save/Solarian.char
save/Techno.char
gendoc.py
cs.pdf
save/MysticTest.char
save/MysticTest2.char
save/OperativeGuy.char